@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans), Arial, Helvetica, sans-serif;
}